[Unit]
Description=gunicorn wsgi daemon
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/CSC309-Project-1on1/django
ExecStart=sudo gunicorn --bind 0.0.0.0:8000 one_on_one.wsgi

[Install]
WantedBy=multi-user.target