.calendar-brief {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
    margin: 15px;
}

.meeting-details {
    width: 75%;
    padding: 10px;
}

.calendar-btn {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profiles-container, .calendar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    margin: 1rem;
}

.invite-button{
    max-width: 12rem;
}

.setting-button {
    position:  absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.2rem;
}

p, h2 {
    word-wrap: break-word;
}

.display-4 {
    margin: 1rem;
}

.setting-panel {
    position: absolute;
    left: 100%;
    top: -10px;
    background-color: aqua;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: 10px;
}

.setting-panel > a {
    padding: 5px 10px;
    border-radius: 10%;
}

.profile {
    width: 75%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: 10px;
}

.profile-picture {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    object-fit: cover;
    margin: 10px;
}

.profile-picture:hover {
    transform: scale(1.1);
}

.profile-picture > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-sizing: border-box;
}

.profile-description {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    margin-right: auto;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,.6);
    z-index: 200;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-window {
    position: absolute;
    background-color: #fff;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 2rem;
    flex-direction: column;
}

#invite-window > .heading{
    position: absolute;
    top: 0;
    margin-top: 2rem;
    border-bottom: 1px solid black;
}

.drop-down {
    position: relative;
    width: 300px;
    margin: 10px;
    text-align: left;
    margin-top: 4rem;
}

.drop-down select{
    width: 100%;
    border-radius: 5px;
}

#invitation-form, #search-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-input-bar {
    width: 100%;
}

.search-results {
    width: 100%;
    margin: 1rem;
}

.search-result-profile-pic {
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-profile {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    padding: 1rem;
}

.search-result-name {
    margin: 1rem;
    margin-right: auto;
}

#invitation-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#invitation-form button{
    margin: 1rem;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0.5rem;
    padding: 0.2rem;
}

#create-window {
    position: absolute;
    background-color: #fff;
    width: 85vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    width: 100%;
}
