/* Color schemes https://colorhunt.co/palettes/popular */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
}

.form-container {
    padding: 1.5rem;
    margin: 0 auto;
    width: 50%;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.authentication-form {
    padding: 0 40px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
}

.authentication-form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.form-group label {
    width: 100%;
    text-align: left;
}


.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #2691d9;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}

.signup_link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a {
    color: #2691d9;
    text-decoration: none;
}

.signup_link a:hover {
    text-decoration: underline;
}

.calendar-brief {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all .3s ease-in-out;
    margin: 15px;
}

.meeting-details {
    width: 75%;
    padding: 10px;
}

.calendar-btn {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-selection-container {
    width: 100%;
    margin: 0.25rem;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    /* Spacing between icon container and mini profile container */
}


.mini-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 5px 10px;
}

.profiles-container,
.calendar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 1rem;
}

.invite-button {
    max-width: 12rem;
}

.setting-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.2rem;
}

p,
h2 {
    word-wrap: break-word;
}

.display-4 {
    margin: 1rem;
}

.setting-panel {
    position: absolute;
    left: 100%;
    top: -10px;
    background-color: aqua;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 10px;
}

.setting-panel>a {
    padding: 5px 10px;
    border-radius: 10%;
}

.profile {
    width: 60%;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin: 10px;
}

.icon-container a {
    color: #000;
    margin-right: 20px;
    /* Spacing between icons */
    text-decoration: none;
}

.icon-container a:last-child {
    margin-right: 0;
    /* Removes margin from the last icon */
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-item p {
    margin-bottom: 0;
    /* Removes the default bottom margin from <p> */
}

.actions a {
    margin: 0 5px;
    /* Adds some spacing between the icons */
    color: #000;
    /* Adjusts the icon color */
}

.actions a.accept {
    color: green;
    /* Color for the accept action */
}

.actions a.decline {
    color: red;
    /* Color for the decline action */
}

.icon-container i {
    font-size: 30px;
    /* Adjust icon size */
}

.mini-profile {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    /* transition: all .2s ease-in-out; */
    /* object-fit: cover; */
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.mini-profile>img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.profile-picture {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    object-fit: cover;
    margin: 10px;
}

.profile-picture:hover {
    transform: scale(1.1);
}

.profile-picture>img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

.profile-description {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

.calendar-table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    background-color: #fff;
    table-layout: fixed;
    width: 90%;
    margin: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    width: 14.28%;
}

.day-not-available {
    background-color: #f2f2f2;
}

.high-preference {
    background-color: #d0f0c0;
}

.medium-preference {
    background-color: #ffebcd;
}

.low-preference {
    background-color: #ffcccb;
    margin-right: auto;
}

#overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, .6);
    z-index: 200;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-window {
    position: absolute;
    background-color: #fff;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 2rem;
    flex-direction: column;
}

.heading {
    position: relative;
    margin-bottom: 1rem;
    width: 75%;
    text-align: center;
    border-bottom: 1px solid #cfd4d9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown:hover {
    cursor: pointer;
}

.drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-down > label {
    margin: 0.25rem 0rem;
    margin-right: auto;
}

.drop-down>select,
.drop-down>input,
.drop-down>textarea {
    width: 100%;
    /* border-radius: 5px; */
    padding: 0.5rem;
    resize: none;
    /* border: 1px solid black; */
}

#invitation-form,
#search-form,
#create-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-input-bar {
    width: 100%;
}

.calendar-icon {
    border-radius: 5px 0px 0px 5px;
}

.search-results {
    width: 100%;
    margin: 1rem;
}

.form-create {
    width: 75%;
}

.search-result-profile-pic {
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-profile {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    padding: 1rem;
}

.search-result-name {
    margin: 1rem;
    margin-right: auto;
}

#invitation-form>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#submit-button {
    margin: 1rem;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0.5rem;
    padding: 0.2rem;
}

#create-window {
    position: absolute;
    background-color: #fff;
    width: 85vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.drop-down-calendar {
    position: relative;
    width: 300px;
    margin: 10px;
}

.drop-down-calendar label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
}

.drop-down-calendar select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    /* SVG arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    /* Positions the arrow to the far right */
    background-size: 24px;
}

.button-by-side {
    display: flex;
    align-items: center;
    margin: 10px;
}