/* .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.calendar-brief {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
    margin: 10px;
}

.meeting-details {
    width: 75%;
    padding: 10px;
}

.calendar-btn {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px; /* Spacing between icon container and mini profile container */
}


.mini-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px 10px;
}

.profiles-container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    margin: 1rem;
}


.invite-button{
    max-width: 12rem;
}

p {
    word-wrap: break-word;
}

h2 {
    word-wrap: break-word;
}

.profile {
    width: 75%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: 10px;
}

.icon-container a {
    color: #000;
    margin-right: 20px; /* Spacing between icons */
    text-decoration: none;
}

.icon-container a:last-child {
    margin-right: 0; /* Removes margin from the last icon */
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-item p {
    margin-bottom: 0; /* Removes the default bottom margin from <p> */
}

.actions a {
    margin: 0 5px; /* Adds some spacing between the icons */
    color: #000; /* Adjusts the icon color */
}

.actions a.accept {
    color: green; /* Color for the accept action */
}

.actions a.decline {
    color: red; /* Color for the decline action */
}

.icon-container i {
    font-size: 30px; /* Adjust icon size */
}

.mini-profile {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    /* transition: all .2s ease-in-out; */
    /* object-fit: cover; */
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.mini-profile > img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-sizing: border-box;
}

.profile-picture {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    object-fit: cover;
    margin: 10px;
}

.profile-picture:hover {
    transform: scale(1.1);
}

.profile-picture > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-sizing: border-box;
}

.profile-description {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
