{% load static %}

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">1on1</a>
        <div class="icon-container">
            {% if current == 'calendars' %}
            <a href="{% url 'calendar-list' %}" title="Calendar"><i class="fa-solid fa-calendar"></i></a>
            <a href="{% url 'contact-list' %}" title="Contacts"><i class="fa-regular fa-address-book"></i></a>
            {% elif current == 'contacts' %}
            <a href="{% url 'calendar-list' %}" title="Calendar"><i class="fa-regular fa-calendar"></i></a>
            <a href="{% url 'contact-list' %}" title="Contacts"><i class="fa-solid fa-address-book"></i></a>
            {% else %}
            <a href="{% url 'calendar-list' %}" title="Calendar"><i class="fa-regular fa-calendar"></i></a>
            <a href="{% url 'contact-list' %}" title="Contacts"><i class="fa-regular fa-address-book"></i></a>
            {% endif %}
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" title="Alerts" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-regular fa-bell"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-item">
                        <div class="dropdown-item-content">
                            <p>Yung Shou-Hi has added you to their contacts</p>
                        </div>
                        <div class="dropdown-item-actions">
                            <a href="#" class="accept"><i class="fas fa-check"></i></a>
                            <a href="#" class="decline"><i class="fas fa-times"></i></a>
                        </div>
                    </div>
                    <div class="dropdown-item">
                        <div class="dropdown-item-content">
                            <p>You have a scheduled meeting in 2 days with Ziling Xiao and QQY</p>
                        </div>
                        <div class="dropdown-item-actions">
                            <a href="#" class="dismiss"><i id="dismiss" class="fas fa-times"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown">
            <div class="mini-profile-container dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="username">Username</span>
                <div class="mini-profile">
                    <img src="{% static 'profile-picture.png' %}" alt="User Name">
                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-right user-dropdown-menu">
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="{% url 'index' %}">Logout</a>
            </div>
        </div>
    </nav>
</header>