{% include 'header.html' with css='calendars/calendar.css' %}

<body>
    <script src="https://kit.fontawesome.com/1831208eff.js" crossorigin="anonymous"></script>

    {% comment %} Change this into actual popup using JavaScript {% endcomment %}
    <div id="overlay">
        <div class="popup-window">
            <!-- Close button -->
            <a type="button" class="btn close-button" href="{% url 'calendar-list' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x"
                    viewBox="0 0 16 16">
                    <path
                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708">
                    </path>
                </svg>
            </a>

            <div class="popup-modal">
                <div class="heading">
                    <h2>Create a new calendar</h2>
                </div>
    
                <div class="form-content">
                    <form id="calendar-create-form" action="{% url 'calendar-list' %}">
                        <div class="form-drop-down">
                            <label for="name-event-input">Name your event</label>
                            <input type="text" id="name-event-input" class="form-control">
                            <label for="description-event-input">Describe your event</label>
                            <textarea id="description-event-input" rows="4" class="form-control"></textarea>
                            <label for="member-selection">Select group members</label>
                            <select class="form-control" id="member-selection">
                                <option selected disabled>Open this select menu</option>
                                <option value="user-1">Alice</option>
                                <option value="user-2">Bob</option>
                                <option value="user-3">Charles</option>
                                <option value="user-4">This is a very long name</option>
                            </select>

                            <div class="time-selection-container">
                                <label for="deadline">Choose the start date of the event</label>
                                <div class="input-group">
                                    <span class="input-group-text calendar-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-calendar-date-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2">
                                            </path>
                                            <path
                                                d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a13 13 0 0 1 1.313-.805h.632z">
                                            </path>
                                        </svg>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Select the start date"
                                        aria-label="Start date of meeting">
                                </div>
                            </div>

                            <div class="time-selection-container">
                                <label for="deadline">Choose the deadline date of the event</label>
                                <div class="input-group">
                                    <span class="input-group-text calendar-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                            class="bi bi-calendar-date-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zm5.402 9.746c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2">
                                            </path>
                                            <path
                                                d="M16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm-2.89-5.435v5.332H5.77V8.079h-.012c-.29.156-.883.52-1.258.777V8.16a13 13 0 0 1 1.313-.805h.632z">
                                            </path>
                                        </svg>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Select the deadline date"
                                        aria-label="Deadline Date of meeting">
                                </div>
                            </div>

                            <button class="btn btn-primary form-submit-button" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'navbar_logged.html' with current='calendars' %}

    <main>
        <div class="jumbotron calendar-list">
            <div class="display-4">
                My Calendars
            </div>
            <a class="btn btn-primary btn-lg" href="{% url 'calendar-create' %}">Create a new calendar</a>

            <div class="main-content-container">
                <div class="calendar-brief rounded">
                    <div class="calendar-meeting-details">
                        <h4>CSC494 Meeting (Owner)</h4>
                        <h6>Participants</h6>
                        <ul>
                            <li>Alice</li>
                            <li>Bob</li>
                            <li>Charles</li>
                        </ul>
                    </div>


                    {% comment %} Change this into actual button to enter the calendar {% endcomment %}
                    <div class="calendar-btn">
                        <a href="./meeting_calendar.html" class="btn btn-success">Enter Calendar</a>
                    </div>
                </div>

                <div class="calendar-brief rounded">
                    <div class="calendar-meeting-details">
                        <h4>CSC495 Meeting</h4>
                        <h6>Participants</h6>
                        <ul>
                            <li>David</li>
                            <li>Esper</li>
                            <li>Francis</li>
                        </ul>
                    </div>
                    <div class="calendar-btn">
                        <a href="./meeting_calendar.html" class="btn btn-success">Enter Calendar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>