{% load static %}

{% include 'header.html' with css='calendars/calendar.css' title='My Calendar'%}

<body>
    <!-- Figure out if there's a better way here -->
    <script src="https://kit.fontawesome.com/1831208eff.js" crossorigin="anonymous"></script>
    
    {% include 'navbar_logged.html' with current='calendars' %}

    <main>
        <div class="jumbotron calendar-list">
            <div class="display-4">
                My Calendars
            </div>
            <a class="btn btn-primary btn-lg" href="{% url 'calendars:calendar-create' %}">Create a new calendar</a>


            {% comment %} Replace this into actual for loop to render the stuffs {% endcomment %}
            <div class="main-content-container">
                <div class="calendar-brief rounded">
                    <div class="calendar-meeting-details">
                        <h4>CSC494 Meeting (Owner)</h4>
                        <h6>Participants</h6>
                        <ul>
                            <li>Alice</li>
                            <li>Bob</li>
                            <li>Charles</li>
                        </ul>
                    </div>

                    {% comment %} Change this into actual button to enter the calendar {% endcomment %}
                    <div class="calendar-btn">
                        {% comment %} This url here is some random calendar with id=1, currently just enters the page always {% endcomment %}
                        <a href="{% url 'calendars:calendar-view' calendar_id=1 %}" class="btn btn-success">Enter Calendar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
