{% load static %}

{% include 'header.html' with css='accounts/authentication.css'%}

<body>
    {% include 'navbar.html' %}
    <main>
        <section class="jumbotron text-center">
            <div class="form-container">
                <h1 class="display-4">Register</h1>
                <form class="authentication-form" id="register-form" action="../calendar/calendar.html">
                    <div class="txt_field">
                        <input type="name" required>
                        <span></span>
                        <label for="name">Name</label>
                    </div>
                    <div class="txt_field">
                        <input type="email" required>
                        <span></span>
                        <label for="email">Email</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" required>
                        <span></span>
                        <label for="password">Password</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" id="confirmPassword" required>
                        <span></span>
                        <label for="confirmPassword">Confirm Password</label>
                    </div>
                    <div class="form-check">
                        <label for="consent">I agree to the terms and conditions</label>
                        <input type="checkbox" id="consent">
                    </div>
                    <input type="submit" value="Register">
                </form>
            </div>
        </section>
    </main>

    <footer class="text-center py-4">
        <p>&copy; 2024 1on1. All rights reserved.</p>
    </footer>
</body>

</html>