/* Color schemes https://colorhunt.co/palettes/popular */

/* Generics */

* {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
}

/* Display-4 is large font by bootstrap */
.display-4 {
    margin: 1rem;
}

.error {
    color: red;
}

#home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white
}

#auth-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.auth-button {
    width: 6rem;
    margin: 0.5rem;
    border-radius: 10px;
}

/* Definition of containers */

.time-selection-container {
    width: 100%;
    margin: 0.25rem;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px; /* Spacing between icon container and mini profile container */
}

.dropdown-menu {
    width: 500px;
    z-index: 1;
}

.user-dropdown-menu {
    width: 100px;
}

.mini-profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 5px 10px;
}

.main-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 1rem;
}

.setting-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.2rem;
}

.setting-panel {
    position: absolute;
    left: 100%;
    top: -10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: 10px;
}

.setting-panel > button {
    padding: 5px 10px;
    border-radius: 10%;
}

/* Header bar */

.icon-container a {
    color: #000;
    margin-right: 20px; /* Spacing between icons */
    text-decoration: none;
}

.icon-container a:last-child {
    margin-right: 0; /* Removes margin from the last icon */
}

.dropdown-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.dropdown-item:focus {
    outline: 0 !important;
}

.dropdown-item-content {
    width: 80%; /* content takes 80% of the width */
    overflow-wrap: break-word; /* newer word wrap */
    word-wrap: break-word; /* wasted 30 minutes just to realize this is deprecated  */
    white-space: normal; 
}

.dropdown-item-actions {
    width: 20%; /* This prevents the actions from growing and bases its size on 20% of the container's size */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.dropdown-item-actions a {
    margin: 0 5px; /* Adds some spacing between the icons */
}

.dropdown-item-actions a.accept {
    color: green; /* Color for the accept action */
}

.dropdown-item-actions a.decline {
    color: red; /* Color for the decline action */
}

.dropdown-item-actions a.accept, a.decline {
    display: inline-flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    width: 30px; /* Set the width of the circle */
    height: 30px; /* Set the height of the circle */
    border-radius: 50%; /* Make it round */
    border: 2px solid #ccc; 
    padding: 5px; /* Adjust padding to scale the circle size */
    text-decoration: none; /* Remove underline from link */
}

/* Additional styling for the icons themselves, if needed */
.dropdown-item-actions a.accept i, a.decline i {
    font-size: x-small;
}


.dropdown-item-actions a.dismiss {
    color: lightgray; /* Color for the decline action */
}

.dropdown-item-actions a.dismiss i {
    font-size: x-small !important;
}

.icon-container i {
    font-size: 25px; /* Adjust icon size */
}

.mini-profile {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    /* transition: all .2s ease-in-out; */
    /* object-fit: cover; */
    border-radius: 50%;
    overflow: hidden;
    margin-left: 10px;
}

.mini-profile > img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-sizing: border-box;
}


.dropdown-item p {
    margin-bottom: 0; /* Removes the default bottom margin from <p> */
}

.dropdown:hover {
    cursor: pointer;
}

/* Overlays (with gray transparent background) */

#overlay {
    position: fixed;
    top: 0%;
    left: 0%;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0,0,0,.6);
    z-index: 200;

    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0.5rem;
    padding: 0.2rem;
    font-size: 14pt;
}

.popup-window {
    position: absolute;
    background-color: #fff;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 2rem;
    flex-direction: column;
}

.popup-modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heading {
    position: relative;
    margin-bottom: 1rem;
    width: 75%;
    text-align: center;
    border-bottom: 1px solid #cfd4d9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-drop-down {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
}

.form-drop-down > label {
    margin: 0.25rem 0rem;
    margin-right: auto;
}

.form-drop-down > select, .form-drop-down > input, .form-drop-down > textarea{
    width: 100%;
    padding: 0.5rem;
    resize: none;
}

.form-content {
    width: 75%;
}

/* Search related */

.form-outline {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.search-input-bar {
    width: 100%;
}

.search-results {
    width: 100%;
    margin: 1rem;
}

.search-result-profile-pic {
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-result-profile {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    padding: 1rem;
}

.search-result-name {
    margin: 1rem;
    margin-right: auto;
}

.form-submit-button {
    margin: 1rem;
}

/* Invited list related */
.invited-list, .uninvited-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 100%;
}

.uninvited-list ul {
    list-style: none;
    padding: 5px;
}

.participants-list {
    width: 50%;
    margin: 1rem;
}

.uninvited-list .participants-list ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.uninvited-list .participants-list ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px;
    text-align: center;
    justify-content: center;
}

.uninvited-list .participants-list ul li button {
    margin-left: auto;
}

.uninvited-list .participants-list > li {
    margin-right: auto;
}

.tab-container {
    margin: 1rem;
}